body{margin:0px; padding:0px; background:#fffde4 url(images/bodyBg.jpg) repeat-x;
font-family: Arial;
	font-size: 12px;
	margin: 0;
	min-width: 900px;} 
h1
{
color:orange;
text-align:center;


}
h6
{
text-align:center;
font-family:"Arial";
font-size:10px;

    
}
h4
{
color:blue;
text-align:center;
font-family:"Arial";

    
}
p
{
font-family:"Arial";
font-size:12px;
 
}
button {
    border: 1px solid #006;
    background: #9cf;
   
}